.App {
    text-align: center;
}

.fadeIn {
    animation: fadeIn 0.5s linear;
}

.fadeInFast {
    animation: fadeIn 0.3s linear;
}

.fadeInSlow {
    animation: fadeIn 0.8s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}